body {
    text-align: center;
    background: url('../img/background.jpg') no-repeat center;
    background-size: auto 100%;
}
h1{
    font-family: 'Sigmar One'
}

.padding-up{
    padding-top: 25%;
}

.shadow { 
   color: white; 
   text-shadow: 1px 1px #000, 
                2px 2px #000, 
                3px 3px #000;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.shadow:hover {
   position: relative; 
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px #000, 
                2px 2px #000, 
                3px 3px #000, 
                4px 4px #000, 
                5px 5px #000, 
                6px 6px #000;
}
.shadow p {
    font-size: 22px;
}